{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Details' %}
{% endblock %}
{% block content %}
<p>{% trans 'Send date' %}: {{object.sentDate}}</p>
<p>{% trans 'Sender' %}: {{object.senderUser.first_name}}</p>
<p>{% trans 'Subject' %}: {{object.subject}}</p>
<p>{% trans 'Message body' %}: {{object.body}}</p>
<p>{% trans 'Priority' %}: {{object.priority|lower|capfirst}}</p>
<p>{% trans 'Saved in' %}: {{object.folder.name}}</p>
<br>
<form action="{% url 'AcmeExplorer:messageDelete' object.pk %}" method="post" onsubmit="return confirm(gettext('¿Esta seguro?'))">
	{% csrf_token %}
	<button type="submit">{% trans 'Delete' %}</button>
</form>
{% endblock %}
