{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Details' %}
{% endblock %}
{% block content %}
<p>Nombre: {{object.name}}</p>
<p>Categoria padre: {{object.parentCategory.name}}</p>
<a href="{% url 'AcmeExplorer:categoryUpdate' object.pk %}"><button type="button">{% trans "Edit" %}</button></a>
<form action="{% url 'AcmeExplorer:categoryDelete' object.pk %}" method="post" onsubmit="return confirm(gettext('¿Esta seguro?'))">
	{% csrf_token %}
	<button type="submit">{% trans "Delete" %}</button>
</form>
{% endblock %}
