{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %} Listado {% endblock %} 
{% block content %}
<table class="displaytag">

	<thead>
		<th class="sortable"></th>
		{% for field in fields %}
		<th class="sortable"><a>{{ field|capfirst }}</a></th> 
		{% endfor %}
	</thead>
	{% for category in object_list %}
	{% if forloop.counter|divisibleby:2 %}
	<tr class="even">
	{% else %}
	<tr class="odd">
	{% endif %}
		<td><a href="{% url 'AcmeExplorer:categoryDisplay' category.id %}">{% trans 'Display' %}</a></td>
		<td>{{ category.name }}</td>
		<td>{{ category.parentCategory.name }}</td>
	</tr>
	{% endfor %}
</table>
{% if perms.AcmeExplorer.ADMINISTRATOR %}
<a href="{% url 'AcmeExplorer:categoryCreate' %}">{% trans 'Create' %} {% trans 'category' %}</a>
{% endif %}
<br><br>
{% endblock %}
