{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Details' %}
{% endblock %}
{% block content %}
<p>Nombre: {{object.name}}</p>
<p>Email: {{object.email}}</p>
<p>Numero de telefono: {{object.phoneNumber}}</p>
<a href="{% url 'AcmeExplorer:contactUpdate' object.pk %}"><button type="button">{% trans 'Edit' %}</button></a>
<form action="{% url 'AcmeExplorer:contactDelete' object.pk %}" method="post" onsubmit="return confirm(gettext('¿Esta seguro?'))">
	{% csrf_token %}
	<button type="submit">{% trans 'Delete' %}</button>
</form>
{% endblock %}
