{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Form' %}
{% endblock %} 
{% block content %}
{% if object.pk is None %}
<form action="{% url 'AcmeExplorer:socialIdentitiesCreate' %}" method="post">
{% else %}
<form action="{% url 'AcmeExplorer:socialIdentitiesUpdate' object.pk %}" method="post">
{% endif %}
	{% csrf_token %}
	{{ form }}
	<input type="hidden" value="{{request.user.id}}" name="user_id" id="id_user_id">
	<button type="submit">{% trans 'Save' %}</button>
</form>
{% endblock %}
