{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Details' %}
{% endblock %}
{% block content %}

<p>{% trans 'Nick' %}: {{object.nick}}</p>
<p>{% trans 'Social network name' %}: {{object.socialNetworkName}}</p>
<p>{% trans 'Profile link' %}: <a href="{{object.profileLink}}">{{object.profileLink}}</a></p>
<p>{% trans 'Photo' %}: <a href="{{ object.photo }}">{{ object.photo }}</a></p>
<p>{% trans 'User' %}: {{object.user.first_name }}</p>
<a href="{% url 'AcmeExplorer:socialIdentitiesUpdate' object.pk %}"><button type="button">{% trans 'Edit' %}</button></a>
<form action="{% url 'AcmeExplorer:socialIdentitiesDelete' object.pk %}" method="post" onsubmit="return confirm(gettext('¿Esta seguro?'))">
	{% csrf_token %}
	<button type="submit">{% trans 'Delete' %}</button>
</form>
{% endblock %}
