{% extends 'base.html' %} 
{% block title %} Formulario {% endblock %} 
{% block content %}
<table class="displaytag">
	<thead>
		<th class="sortable"></th>
		{% for field in fields %}
		<th class="sortable"><a>{{ field|capfirst }}</a></th> 
		{% endfor %}
	</thead>
	{% for folder in object_list %}
	{% if forloop.counter|divisibleby:2 %}
	<tr class="even">
	{% else %}
	<tr class="odd">
	{% endif %}
		<td><a href="{% url 'AcmeExplorer:folderDisplay' folder.id %}">Mostrar</a></td>
		<td>{{ folder.name }}</td>
		<td>{{ folder.systemFolder|yesno:"Si,No" }}</td>
		<td>{{ folder.user.first_name }}</td>
		<td>{{ folder.parentFolder.name }}</td>
	</tr>
	{% endfor %}
</table>

<a href="{% url 'AcmeExplorer:folderCreate' %}">Crear carpeta</a>
<br><br>
{% endblock %}