{% extends 'base.html' %} 
{% block title %} Listado {% endblock %} 
{% block content %}
<table class="displaytag">

	<thead>
		<th class="sortable"></th>
		{% for field in fields %}
		<th class="sortable"><a>{{ field|capfirst }}</a></th> 
		{% endfor %}
	</thead>
	{% for curriculum in object_list %}
	{% if forloop.counter|divisibleby:2 %}
	<tr class="even">
	{% else %}
	<tr class="odd">
	{% endif %}
		<td><a href="{% url 'AcmeExplorer:curriculumDisplay' curriculum.id %}">Mostrar</a></td>
		<td>{{ curriculum.ticker }}</td>
	</tr>
	{% endfor %}
</table>
{% if perms.AcmeExplorer.RANGER %}
<a href="{% url 'AcmeExplorer:curriculumCreate' %}">Crear curriculum</a>
{% endif %}
{% endblock %}
