<html lang="en-us">
{% load %} {% load i18n %} {% load cache %}
<head>
<title>Log in</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css"
	href="/static/admin/css/login.css" />





<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/static/admin/css/responsive.css" />
</head>


<body class=" login">

	<!-- Container -->
	<div id="container">


		<!-- Header -->
		<div id="header">
			<div id="branding">

				<h1 id="site-name">
					<a href="/admin/">Acme Explorer</a>
				</h1>

			</div>


		</div>
		<!-- END Header -->







		<!-- Content -->
		<div id="content" class="colM">







			<div id="content-main">



				<form action="/AcmeExplorer/login/" method="post" id="login-form">
					{% csrf_token %}
					<div class="form-row">

						<label class="required" for="id_username">{% trans 'username'|capfirst %}:</label> <input type="text" name="username"
							autofocus maxlength="254" required id="id_username">
					</div>

					<div class="form-row">

						<label class="required" for="id_password">{% trans "Password" %}:</label> <input type="password" name="password" required
							id="id_password"> <input type="hidden" name="next"
							value="/admin/">
					</div>

					<input type="hidden" name="next" value="/AcmeExplorer" />

					<div class="submit-row">
						<label>&nbsp;</label><input type="submit"
							value="{% trans 'Log in' %}" />
					</div>
				</form>

			</div>


			<br class="clear" />
		</div>
		<!-- END Content -->

		<div id="footer"></div>
	</div>
	<!-- END Container -->

</body>
</html>