{% load i18n %}
<div id="banner">
	<img id="bannerImg" src="{{bannerUrl}}" alt="Acme Explorer., Inc.">
</div>

<div>
	<ul id="jMenu">
		{% if request.user.is_authenticated %}
		<!-- 		Si esta autentificado -->
		<li><a class="fNiv">Perfil ({{request.user.first_name}})</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="{{rol}}/edit">{% trans 'Edit profile' %}</a></li>
				<li><a href="/AcmeExplorer/logout">{% trans 'Log out' %}</a></li>
			</ul></li>
		<li><a class="fNiv">Mensajes</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/message/">{% trans 'My messages' %}</a></li>
				<li><a href="/AcmeExplorer/message/create">{% trans 'Send message'%}</a></li>

				<!-- 		Si es administrador -->
				{% if perms.AcmeExplorer.ADMINISTRATOR %}
				<li><a href="/AcmeExplorer/message/broadcast">{% trans 'Send message to everyone' %}</a></li>
				{% endif %}

				<!-- 		Si esta autentificado -->
				<li><a href="/AcmeExplorer/folder">{% trans 'My folders' %}</a></li>
				<li><a href="/AcmeExplorer/folder/create">{% trans 'Create' %} {% trans 'folder' %}</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es administrador -->
		{% if perms.AcmeExplorer.ADMINISTRATOR %}
		<li><a class="fNiv">{% trans 'Administrator' %}</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="configurationSystem/admin/edit">{% trans 'Edit' %} {% trans 'system configuration' %}</a></li>
				<li><a href="dashboard/admin/display">{% trans 'Display' %} {% trans 'dashboard'%}</a></li>
				<li><a href="/AcmeExplorer/legalText/">{% trans 'Display' %} {% trans 'legal texts' %}</a></li>
				<li><a href="tag/admin/list">{% trans 'Display' %} {% trans 'tags' %}</a></li>
				<li><a href="ranger/admin/list">{% trans 'Display' %} {% trans 'rangers' %}</a></li>
				<li><a href="ranger/admin/create">{% trans 'Create' %} {% trans 'ranger' %}</a></li>
				<li><a href="manager/admin/list">{% trans 'Display' %} {% trans 'manager' %}</a></li>
				<li><a href="manager/admin/create">{% trans 'Create' %} {% trans 'manager' %}</a></li>
				<li><a href="trip/other/list">{% trans 'Display' %} {% trans 'trips' %}</a></li>
				<li><a href="/AcmeExplorer/category">{% trans 'Display' %} {% trans 'categories' %}</a></li>
			</ul></li>
		{% endif %}

		{% if perms.AcmeExplorer.MANAGER %}
		<!-- 		Si es manager -->
		<li><a class="fNiv">{% trans 'Manager' %}</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category/">{% trans 'Display' %} {% trans 'categories' %}</a></li>
				<li><a href="trip/manager/list">{% trans 'Display' %} {% trans 'trips' %}</a></li>
				<li><a href="trip/manager/myTrips">{% trans 'Display' %} {% trans 'my' %} {% trans 'trips' %}</a></li>
				<li><a href="application/manager/list">{% trans 'Display' %} {% trans 'applications' %}</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es explorer -->
		{% if perms.AcmeExplorer.EXPLORER %}
		<li><a class="fNiv">{% trans 'Explorer' %}</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category">{% trans 'Display' %} {% trans 'categories' %}</a></li>
				<li><a href="trip/explorer/list">{% trans 'Display' %} {% trans 'trips' %}</a></li>
				<li><a href="trip/explorer/myTrips">{% trans 'Display' %} {% trans 'my' %} {% trans 'trips' %}</a></li>
				<li><a href="application/explorer/list">{% trans 'Display' %} {% trans 'applications' %}</a></li>
				<li><a href="/AcmeExplorer/contact">{% trans 'Display' %} {% trans 'my' %} {% trans 'contacts' %}</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es ranger -->
		{% if perms.AcmeExplorer.RANGER %}
		<li><a class="fNiv">{% trans 'Ranger' %}</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category">{% trans 'Display' %} {% trans 'categories' %}</a></li>
				<li><a href="trip/other/list">{% trans 'Display' %} {% trans 'trips' %}</a></li>
				<li><a href="/AcmeExplorer/curriculum">{% trans 'Display' %} {% trans 'my' %} curriculums</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si no esta logueado -->
		{% if not request.user.is_authenticated %}
		<li><a class="fNiv" href="/AcmeExplorer/login">{% trans 'Log in' %}</a>
		<li><a class="fNiv" href="/AcmeExplorer/ranger/create">{% trans 'Register as ranger' %}</a>
		<li><a class="fNiv" href="/AcmeExplorer/explorer/create">{% trans 'Register as explorer' %}</a>
		<li><a class="fNiv" href="trip/other/list">{% trans 'Display' %} {% trans 'trips' %}</a>
		<li><a class="fNiv" href="/AcmeExplorer/category">{% trans 'Display' %} {% trans 'categories' %}</a>
		{% endif %}
	</ul>
</div>
