{% load i18n %}
<div id="banner">
	<img id="bannerImg" src="{{bannerUrl}}" alt="Acme Explorer., Inc.">
</div>

<div>
	<ul id="jMenu">
		{% if request.user.is_authenticated %}
		<!-- 		Si esta autentificado -->
		<li><a class="fNiv">Perfil ({{request.user.first_name}})</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="{{rol}}/edit">Editar perfil</a></li>
				<li><a href="/AcmeExplorer/logout">Salir</a></li>
			</ul></li>
		<li><a class="fNiv">Mensajes</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/message/">Ver mensajes</a></li>
				<li><a href="/AcmeExplorer/message/create">Enviar mensaje</a></li>

				<!-- 		Si es administrador -->
				{% if perms.AcmeExplorer.ADMINISTRATOR %}
				<li><a href="/AcmeExplorer/message/broadcast">Enviar mensaje a todos</a></li>
				{% endif %}
				
				<!-- 		Si esta autentificado -->
				<li><a href="/AcmeExplorer/folder">Ver carpetas</a></li>
				<li><a href="/AcmeExplorer/folder/create">Crear carpeta</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es administrador -->
		{% if perms.AcmeExplorer.ADMINISTRATOR %}
		<li><a class="fNiv">Administrador</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="configurationSystem/admin/edit">Editar
						configuracion</a></li>
				<li><a href="dashboard/admin/display">Mostrar panel de
						control</a></li>
				<li><a href="/AcmeExplorer/legalText/">Mostrar textos legales</a></li>
				<li><a href="tag/admin/list">Mostrar etiquetas</a></li>
				<li><a href="ranger/admin/list">Mostrar guias</a></li>
				<li><a href="ranger/admin/create">Nuevo guia</a></li>
				<li><a href="manager/admin/list">Mostrar gerentes</a></li>
				<li><a href="manager/admin/create">Nuevo gerente</a></li>
				<li><a href="trip/other/list">Mostrar viajes</a></li>
				<li><a href="/AcmeExplorer/category">Mostrar categorias</a></li>
			</ul></li>
		{% endif %}

		{% if perms.AcmeExplorer.MANAGER %}
		<!-- 		Si es manager -->
		<li><a class="fNiv">Gerente</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category/">Mostrar categorias</a></li>
				<li><a href="trip/manager/list">Mostrar viajes</a></li>
				<li><a href="trip/manager/myTrips">Mostrar mis viajes</a></li>
				<li><a href="application/manager/list">Mostrar solicitudes</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es explorer -->
		{% if perms.AcmeExplorer.EXPLORER %}
		<li><a class="fNiv">Explorador</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category">Mostrar categorias</a></li>
				<li><a href="trip/explorer/list">Mostrar viajes</a></li>
				<li><a href="trip/explorer/myTrips">Mostrar mis viajes</a></li>
				<li><a href="application/explorer/list">Mostrar mis
						solicitudes</a></li>
				<li><a href="/AcmeExplorer/contact">Mostrar mis contactos</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si es ranger -->
		{% if perms.AcmeExplorer.RANGER %}
		<li><a class="fNiv">Guia</a>
			<ul>
				<li class="arrow"></li>
				<li><a href="/AcmeExplorer/category">Mostrar categorias</a></li>
				<li><a href="trip/other/list">Mostrar viajes</a></li>
				<li><a href="/AcmeExplorer/curriculum">Mostrar mis
						curriculums</a></li>
			</ul></li>
		{% endif %}

		<!-- 		Si no esta logueado -->
		{% if not request.user.is_authenticated %}
		<li><a class="fNiv" href="/AcmeExplorer/login">Login</a>
		<li><a class="fNiv" href="/AcmeExplorer/ranger/create">Registrarse
				como guia</a>
		<li><a class="fNiv" href="/AcmeExplorer/explorer/create">Registrarse
				como explorador</a>
		<li><a class="fNiv" href="trip/other/list">Mostrar viajes</a>
		<li><a class="fNiv" href="/AcmeExplorer/category">Mostrar
				categorias</a>
		{% endif %}
	</ul>
</div>